body {background-color: rgb(204, 28, 28);
}

@media screen and (min-width:600px) {
    .parte1 {color: blue;
     font-size: 150%;
    }
}

    @media screen and (min-width:600px) {
    .parte2 {color: rgba(10, 233, 47, 0.637);
        font-size: 150%;
       }
    }


    @media screen and (min-width:600px) {
       .parte3 {color: rgb(166, 255, 0);
        font-size: 150%;
       }
    }


.parte1 {border-color: blue;
         border-style: double;
         border-width: 50px;
}

.parte1 {margin-left: 10%;}



.parte2 {border-color: rgba(10, 233, 47, 0.637);
    border-style: double;
    border-width: 25px;
}

.parte3 {border-color: rgb(166, 255, 0);
    border-style: double;
    border-width: 10px;
}